@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

//nav bar
#header {
  position: fixed;
  display: flex;
  top: 0;
  align-items: center;
  width: 100%;
  min-height: 8vh;
  padding: 0.5em;
  background-color: #1b1b1b;
  z-index: 2;
}

.logo {
  flex: 1;

  img {
    margin-left: 5rem;
    width: 150px;
    height: auto;
  }
}

#nav-bar {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  width: 40vw;
  margin: 0;
  padding: 0;

  ul {
    display: flex;
    justify-content: space-evenly;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: #e2e2e2;
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

//start of media queries for header//
@media screen and (max-width: 600px) {
  #header {
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    min-height: 5vh;
    padding: 0.5em;
    background-color: #1b1b1b;
    z-index: 2;
  }

  .logo {
    flex: 1;

    img {
      margin-left: 1.5rem;
      width: 120px;
      height: auto;
    }
  }

  #nav-bar {
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 400;
    width: 60vw;
    margin: 0;
    padding: 0;

    ul {
      display: flex;
      justify-content: space-evenly;
    }

    li {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: #e2e2e2;
    }
  }
}
//end of media queries for header//

//main container
#container {
  background: none;
}

.section-1 {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(to bottom, #7c9ec7, transparent);

  .info-image {
    img {
      width: 50vw;
      display: block;
      filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.3));
    }
  }

  .highlight {
    font-size: 1.25rem;
    font-weight: 400;
    color: rgb(255, 0, 51);
  }

  .scroll {
    position: absolute;
    height: 50px;
    width: 30px;
    bottom: 30px;
    transform: translateX(-50%);
  }
}

.info-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: 50vw;
  min-height: 80vh;

  h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
  }
}

#form {
  .form-control {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.125rem;
  }

  #submit {
    font-size: 1.125rem;
    cursor: pointer;
    width: 6vw;
    height: 4vh;
    transition: transform 0.2s;

    &:hover {
      transform: scale(0.925);
    }
  }
}

input[type="email"] {
  background: #fff;
  width: 28vw;
  height: 5vh;
  outline: none;
  padding-left: 1em;
  border-radius: 2.5vh 2.5vh 2.5vh 2.5vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.8;
  color: #3a3a3a;

  &:focus {
    outline: none !important;
    border: 2px solid #9ebdd9;
  }
}

input[type="submit"] {
  position: relative;
  left: -6.55vw;
  background: #6185b1;
  color: #fff;
  width: 20vw;
  height: 5vh;
  outline: none;
  border-radius: 2.5vh 2.5vh 2.5vh 2.5vh;
  border: none;
  outline: none;
  transition: 0.15s ease-in-out;

  &:hover {
    background: #9ebdd9;
  }
}

.scroll-down {
  border-radius: 50px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    border: 1px solid rgb(138, 138, 138);
    height: 15px;
    width: 15px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
  }

  &::after {
    top: 30%;
    animation-delay: 0.3s;
  }

  @keyframes scroll-down {
    0% {
      opacity: 0;
    }

    30% {
      opacity: 1;
    }

    60% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      top: 90%;
    }
  }
}

//start of media queries for section 1//
@media screen and (max-width: 600px) {
  .section-1 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 45px;
  }

  .info-image {
    margin-top: 100px;
    img {
      max-width: 100%;
      height: auto;
      filter: drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.3));
    }
  }

  .highlight {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 0, 51);
  }

  .info-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: -150px;
    margin-left: 15vw;
    max-width: 50vw;
    min-height: 80vh;

    h1 {
      font-size: 2rem;
      font-weight: 700;
    }

    p {
      font-size: 1rem;
      font-weight: 400;
    }
  }
  #form {
    .form-control {
      display: flex;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    #submit {
      font-size: 1rem;
      cursor: pointer;
      width: 38vw;
      height: 4vh;
      transition: transform 0.2s;

      &:hover {
        transform: scale(0.8);
      }
    }
  }

  input[type="email"] {
    background: #fff;
    width: 38vw;
    height: 4vh;
    outline: none;
    padding-left: 1em;
    border-radius: 2.5vh 2.5vh 2.5vh 2.5vh;
    border: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0.8;
    color: #3a3a3a;

    &:focus {
      outline: none !important;
      border: 2px solid #9ebdd9;
    }
  }

  input[type="submit"] {
    background: #6185b1;
    color: #fff;
    left: -0.09vw;
    outline: none;
    border-radius: 2.5vh 2.5vh 2.5vh 2.5vh;
    border: none;
    outline: none;
    transition: 0.15s ease-in-out;

    &:hover {
      background: #9ebdd9;
    }
  }
}

//end of media queries for section 1//

.section-2 {
  margin: 2rem;
  padding: 2rem;
  max-width: 100vw;
  min-height: 80vh;
  border-top: 1px solid rgba(109, 109, 109, 0.6);
  border-bottom: 1px solid rgba(109, 109, 109, 0.6);

  .about {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2em;
  }

  .about-info {
    p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 40px;
      margin: 2rem 25rem 0rem 25rem;
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #06c;
    }
    & > p a:hover {
      text-decoration: underline;
    }
  }
}

.video-wrapper {
  #video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: auto;
  }
}

//start of media queries for section 2//
@media screen and (max-width: 600px) {
  .section-2 {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    max-width: 100vw;
    min-height: 80vh;
    border-bottom: 1px solid rgba(109, 109, 109, 0.6);

    .about {
      font-size: 1.25rem;
      font-weight: 400;
      text-align: center;
      padding-bottom: 2em;
      margin-top: -4%;
    }

    .video-wrapper {
      #video {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 75vw;
        height: auto;
        margin-top: -2%;
        margin-bottom: 5%;
      }
    }
    .about-info {
      p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 40px;
        margin: 0;
        text-align: center;
      }
    }
  }
}
//end of media queries for section 2//

.section-3 {
  margin: 2rem;
  padding: 2rem;
  max-width: 100vw;
  min-height: 45vh;
  text-align: center;
  border-bottom: 1px solid rgba(109, 109, 109, 0.6);

  #features {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding-bottom: 2rem;
  }

  .sub-info {
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    color: #616161;
  }

  li {
    font-size: 1rem;
    font-weight: 700;
    line-height: 40px;
    list-style: none;
  }
}

.section-4 {
  margin: 2rem;
  padding: 2rem;
  max-width: 100vw;
  min-height: 45vh;
  text-align: center;

  #faq {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
  }
}

.faq-info {
  margin: 0 2rem 2rem 2rem;
  padding: 2rem;
  max-width: 100w;
  min-height: 45vh;
  text-align: center;

  .accord-title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 40px;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 40px;
    margin: 2rem 25rem 2rem 25rem;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  max-width: 100%;
  min-height: 5vh;
  background-color: #131313;
}
