$font-family: 'Poppins', sans-serif;
$primary-color: #f3f3f3;
$secondary-color: rgba(0, 0, 0, 0);
$tertiary-color: #636363;
$border-color: #02aab0;
$input-text-color: #00393b;
$background-color: linear-gradient(135deg, #43cea2, #185a9d);
$background-color1: linear-gradient(-135deg, #43cea2, #185a9d);
$background-color2: rgba(0, 0, 0, 0.4);
$font-weights: (
    "regular": 200,
    "medium": 400,
    "bold": 600
);